
  .imges {
    max-width: 600px;
    overflow: auto;
    cursor: default; /* เพิ่มคุณสมบัติ cursor เป็น default */
}

.imges img {
    width: 100%;
}

.boximg {
  max-width: 400px;
  margin: auto;
}

.boximg img {
  width: 100%;
}
.item {
  display: flex;
}

.pixcel {
  max-width: 400px;
  box-shadow: 0px 2px 10px 3px #000;
  margin: 100px auto;
  text-align: center;
  align-items: center;
  padding: 10px;
  height: 400px;
  border-radius: 20px;
  overflow: scroll;
}