
  .imges {
    max-width: 600px;
    overflow: auto;
    cursor: default; /* เพิ่มคุณสมบัติ cursor เป็น default */
}

.imges img {
    width: 100%;
}

.boximg {
  max-width: 400px;
  margin: auto;
}

.boximg img {
  width: 100%;
}
.item {
  display: flex;
}